* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  text-align: center;
}

/* Title and options */
header {
  .options {
    gap: 4rem;
    justify-content: center;
  }

  select {
    width: 8rem;
  }

  input {
    width: 8rem;
    margin-left: 1rem;
    accent-color: deeppink;
  }

  .current {
    margin-right: 1rem;
  }
}

/* Contains all of the cards */
.gameboard {
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: small;
  list-style-type: none;
}

/* The flip card container - Code from GeeksForGeeks*/
.card {
  background-color: transparent;
  width: 15em;
  height: 10em;
  perspective: 1000px; /* 3D effect */

  /* This container is needed to position the front and back side */
  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 4px solid black;
  }

  /* Horizontal flip when you move the mouse over the box container */
  &:hover .inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .front {
    background-color: #000;
    color: black;
  }

  /* Style the back side */
  .back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: deeppink;
    padding: 1rem;
    font-size: 1.5em;
    font-weight: bold;
    transform: rotateY(180deg);
  }
}

/* Modal styling */
main {
  position: relative;

  .cover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
    opacity: 0.75;
  }

  .modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #521031;
    width: max-content;
    height: min-content;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.7);
  }
  h2 {
    margin: 0 0 1rem 0;
  }
  .current {
    margin-right: 1em;
  }
  button {
    background-color: #111;
    font-size: larger;
    padding: 0.5rem 2rem;
  }
}

footer {
  padding: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  float: bottom;
  background-color: #111;
  box-shadow: inset 0 -1rem 1rem rgba(160, 0, 85, 0.2);
  font-size: large;

  a {
    color: deeppink;
  }
  a::before {
    content: " ";
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 0.35em 0 0.6em;
    background-size: contain;
    background-image: url("./assets/github-mark-white.svg");
  }
}
